{{- define "title" }}404 page not found - {{ .Site.Title }}{{ end -}}

{{- define "content" -}}
  <div class="not-found">
    <h1 class="error-emoji"></h1>
    <p class="error-text">/* 404 - page not found. */</p>
    <p class="error-link"><a href="{{ "" | relLangURL }}">↑ Back Home ↑</a></p>
  </div>
  <script>
    var errorEmojiContainer = document.getElementsByClassName("error-emoji")[0];
    var emojiArray = [
      "\\(o_o)/",
      "(o^^)o",
      "(˚Δ˚)b",
      "(^-^*)",
      "(≥o≤)",
      "((d[-_-]b))",
      "(^_^)b",
      "(·_·)",
      "(='X'=)",
      "(>_<)",
      "(;-;)",
      "♡+♡=♡²",
      "°‿‿°",
      "웃❤유",
      "(ô‿ô)",
      "(@_@)",
    ];

    emojiArray.push(
      "人之患在好为人师",
      "小我而大世界",
      "拨开晓雾见月明",
      "志在四方",
      "随心所欲不逾矩",
      "只在此山中，云深不知处",
      "波涛汹涌，万籁俱寂",
      "浩浩乎如冯虚御风，而不知其所止",
      "Fail early, fail often, but always fail forward.",
      "The reason we climb Mount Everest is because it’s there.",
      "我在走路，正在走路",
    );

    var errorEmoji = emojiArray[Math.floor(Math.random() * emojiArray.length)];
    errorEmojiContainer.appendChild(document.createTextNode(errorEmoji));
  </script>
{{- end -}}
